@import "tailwindcss";
@import "@nuxt/ui";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Noto Sans SC", system-ui;
  --font-mono: "Cascadia Code", "Noto Sans SC", monospace;
}

:root,
body {
  overflow: hidden;
}

#app {
  height: 100vh;
  overflow: auto;
}

:root {
  --ui-header-height: 52px;
  font-size: 16px !important;
}

.dark {
  --ui-bg: var(--color-old-neutral-950);
}
